DJANGO_SECRET_KEY=replace-with-your-django-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
GEOAPIFY_API_KEY=replace-with-your-geoapify-api-key
GEOAPIFY_AUTOCOMPLETE_LANG=es
GEOAPIFY_AUTOCOMPLETE_COUNTRY_BIAS=pe
GEOAPIFY_AUTOCOMPLETE_COUNTRY_FILTER=
GEOAPIFY_AUTOCOMPLETE_LANG=es
GEOAPIFY_AUTOCOMPLETE_COUNTRY_BIAS=pe
GEOAPIFY_AUTOCOMPLETE_COUNTRY_FILTER=
