DJANGO_SECRET_KEY=replace-with-your-django-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
DJANGO_TIME_ZONE=America/Lima
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_SECURE_SSL_REDIRECT=False
DATABASE_URL=
DATABASE_CONN_MAX_AGE=60
SQLITE_DB_NAME=db.local.sqlite3
GEOAPIFY_API_KEY=replace-with-your-geoapify-api-key
GEOAPIFY_AUTOCOMPLETE_LANG=es
GEOAPIFY_AUTOCOMPLETE_COUNTRY_BIAS=pe
GEOAPIFY_AUTOCOMPLETE_COUNTRY_FILTER=
POSTGRES_DB_NAME=
POSTGRES_DB_USER=
POSTGRES_DB_PASSWORD=
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
