<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Maker</title>
</head>
<body>
    
      
      <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="index.html">Home</a>
        
      </div>
      
      <form class="transfot">
        <div class="col-md-12">
            <h1>Route Maker</h1> 
          <h3>Crea tu Ruta</h3>
        </div>
        <div class="col-md-12">
          <input class="transfot_form" placeholder="Origen" type="text" name="origin" required>
        </div>
        <div class="col-md-12">
          <input class="transfot_form" placeholder="Destino" type="text" name="destination" required>
        </div>
        <div class="col-md-12">
          <button type="button" onclick="addDestination()">Añadir Destino</button>
        </div>
        <div class="col-md-12">
          <input class="transfot_form" placeholder="Max de Destinos por Ruta" type="number" name="max-points" min="0">
        </div>
        <div class="col-md-12">
          <button class="get_now">Generar Ruta</button>
        </div>
      </form>
           

</body>
</html>